/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
	--text-font-weight: 400;
	--title-font-weight: 700;

	--bg-color: #fff;
	--accent-color: #000;
	--label-color: #fff;
	--hover-color: #fff;
	--button-text-color: #fff;
	--svg-contour-color: var(--accent-color);
	--svg-body-color: #ff0000;
	--bg-image: repeating-linear-gradient(to right,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px), repeating-linear-gradient(to bottom,
			#d3d3d3,
			#d3d3d3 2px,
			transparent 2px,
			transparent 4px),
		linear-gradient(to bottom,
			#e7e7e7 0%,
			#e7e7e7 0.01%,
			#1a1a1a 100%);
}

:root.theme-dark {
	--text-font-weight: 465;
	--title-font-weight: 785;

	--bg-color: #000;
	--accent-color: #00cc14;
	--hover-color: #00cc14;
	--label-color: #000;
	--button-text-color: var(--accent-color);
	--svg-contour-color: var(--accent-color);
	--svg-body-color: #ff0000;
	--bg-image:
		repeating-linear-gradient(to right,
			#000,
			#000 2px,
			transparent 2px,
			transparent 4px),
		repeating-linear-gradient(to bottom,
			#000,
			#000 2px,
			transparent 2px,
			transparent 4px),
		linear-gradient(to bottom,
			#007f0c 0%,
			#007f0c 0.01%,
			#004306 100%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-font-weight: 465;
		--title-font-weight: 785;

		--bg-color: #000;
		--accent-color: #00cc14;
		--label-color: #000;
		--hover-color: #00cc14;
		--button-text-color: var(--accent-color);
		--svg-contour-color: var(--accent-color);
		--svg-body-color: #ff0000;
		--bg-image:
			repeating-linear-gradient(to right,
				#000,
				#000 2px,
				transparent 2px,
				transparent 4px),
			repeating-linear-gradient(to bottom,
				#000,
				#000 2px,
				transparent 2px,
				transparent 4px),
			linear-gradient(to bottom,
				#007f0c 0%,
				#007f0c 0.01%,
				#004306 100%);
	}
}